
.main {
    padding-top: 349px;
    padding-bottom: 400px;
    position: relative;
    background: url(/img/mainbg.png) no-repeat;
    background-size: cover;
    
    &__title {
        font-size: 60px;
        font-weight: 900;
        margin-bottom: 15px;
    }

    &__text {
        margin-bottom: 29px;
    }

    &__button {
        background: #ff6033;
    }

    &__button:hover {
        background: darken(#ff6033, 10%);
    }

    &__scroll {
        position: absolute;
        left: 49%;
        bottom: 7%;
    }

    @media screen and (max-width: 767px) {
        & {
            padding-bottom: 200px;
        }
    } 

    @media screen and (max-width: 575px) {
        & {
            padding-bottom: 100px;
        }

        &__title {
            font-size: 45px;
        }

        &__text {
            font-size: 14px;
        }
    }   
}