.subscribe {
    padding-top: 138px;
    padding-bottom: 150px;
    color: #262626;
    background: url(../img/bggrape.png) no-repeat;
    background-size: cover;
    background-position: center top;
    

    &__title {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 16px;
    }

    &__input {
        width: 100%;
        padding: 20px 15px;
        border: 1px solid #262626;
        margin-top: 27px;
    }

    &__button {
        background: #96b92c;
        width: 170px;
        margin-top: 26px;
        outline: none;
        border: none;
    }

    &__button:hover {
        background: darken(#96b92c, 10%);
    }

    @media screen and (max-width:575px) {
        & {
            padding-top: 80px;
            padding-bottom: 80px;
            background-image: none;
        }

        &__text {
            font-size: 14px;
        }

        
    }

    ::-webkit-input-placeholder {
        font-size: 15px;
        font-weight: 300;
        color: #000;   
    }
}

