body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  color: #262626; }

h2, h3, h4, h5, p {
  margin: 0; }

a {
  text-decoration: none;
  display: block;
  color: #262626; }

.text {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.588; }

.btn {
  color: #fff;
  padding: 16px 0;
  text-align: center;
  width: 200px;
  font-size: 20px;
  font-weight: 300;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  text-transform: uppercase; }

.title {
  font-size: 90px;
  font-weight: 700; }

img {
  max-width: 100%;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5); }

input, textarea {
  font-family: 'Raleway', sans-serif; }

.header {
  margin-top: 50px;
  padding-bottom: 65px;
  position: absolute;
  width: 100%;
  z-index: 1; }
  .header__logo {
    -webkit-box-shadow: none;
    box-shadow: none; }
  .header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative; }

.burger__label {
  position: absolute;
  top: 28px;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0; }

.burger__item {
  display: none;
  width: 42px;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 27px;
  right: 0; }
  .burger__item--second, .burger__item--third {
    top: 36px; }
  .burger__item--fourth {
    top: 45px; }

@media screen and (max-width: 991px) {
  .burger__item {
    display: block; } }

@media screen and (max-width: 991px) {
  #burger:checked ~ .nav {
    font-size: 16px;
    max-height: 200px; }
  #burger:checked ~ .burger__item--first {
    display: none; }
  #burger:checked ~ .burger__item--second {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  #burger:checked ~ .burger__item--third {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  #burger:checked ~ .burger__item--fourth {
    display: none; } }

#burger {
  display: none; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
  overflow: hidden; }
  .nav__link {
    font-weight: 700;
    color: #262626;
    margin-left: 30px;
    border-top: 2px solid transparent;
    padding-top: 8px;
    text-transform: uppercase; }
    .nav__link:hover {
      border-color: #ff6033; }
  @media screen and (max-width: 991px) {
    .nav {
      width: 100%;
      position: absolute;
      display: block;
      bottom: 0;
      left: 0;
      -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
      transform: translateY(100%);
      font-size: 0;
      max-height: 0; }
    .nav__link {
      margin-left: 0;
      border: none; } }

.main {
  padding-top: 349px;
  padding-bottom: 400px;
  position: relative;
  background: url(/img/mainbg.png) no-repeat;
  background-size: cover; }
  .main__title {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 15px; }
  .main__text {
    margin-bottom: 29px; }
  .main__button {
    background: #ff6033; }
  .main__button:hover {
    background: #ff3800; }
  .main__scroll {
    position: absolute;
    left: 49%;
    bottom: 7%; }
  @media screen and (max-width: 575px) {
    .main__title {
      font-size: 45px; }
    .main__text {
      font-size: 14px; } }

.about {
  color: #fff;
  background: url(/img/raspberry.png) no-repeat #00b2b2;
  padding-top: 161px;
  padding-bottom: 178px; }
  .about__title {
    margin-bottom: 7px; }
  .about__text {
    margin-bottom: 20px; }

@media screen and (max-width: 1199px) {
  .about {
    background-image: none; } }

@media screen and (max-width: 575px) {
  .about__title {
    font-size: 75px; } }

.service {
  background: url(../img/tomatos.png) no-repeat #70bfff;
  background-position: 77% 37%;
  padding-top: 180px;
  padding-bottom: 130px;
  color: #fff; }
  .service__item {
    position: relative;
    width: 400px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; }
  .service__link {
    width: 300px;
    height: 100px;
    border-right: 1px solid #9d9d9d;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: 700; }
  .service__icon {
    position: absolute;
    right: 6%;
    top: 26%; }
  .service__title {
    margin-top: 132px;
    padding-left: 15px; }
  .service__item:hover {
    background: #000; }
  .service__item:hover .cls-1 {
    fill: #fff; }
  .service__item:hover a {
    color: #fff; }
  @media screen and (max-width: 1199px) {
    .service__title {
      margin-top: 0;
      margin-bottom: 35px; } }
  @media screen and (max-width: 767px) {
    .service__title {
      font-size: 75px; } }
  @media screen and (max-width: 575px) {
    .service {
      padding-top: 80px;
      padding-bottom: 80px; }
    .service__title {
      font-size: 50px;
      text-align: center; }
    .service__item {
      width: 300px;
      margin: 20px auto 0; }
    .service__link {
      width: 200px;
      font-size: 15px; } }

.gallery {
  color: #262626;
  text-align: center;
  background: #ffe92f;
  padding-top: 80px;
  padding-bottom: 115px; }
  .gallery__title {
    margin-bottom: 20px; }
  .gallery__text {
    margin-bottom: 48px; }
  .gallery__picture {
    margin-bottom: 29px; }
  .gallery__button {
    margin: 0 auto;
    background: #5585a2;
    margin-top: 18px; }
  .gallery__button:hover {
    background: #436a81; }
  @media screen and (max-width: 575px) {
    .gallery {
      padding-bottom: 80px; }
    .gallery__title {
      font-size: 50px; }
    .gallery__text {
      font-size: 14px; } }

.subscribe {
  padding-top: 138px;
  padding-bottom: 150px;
  color: #262626;
  background: url(../img/bggrape.png) no-repeat;
  background-size: cover;
  background-position: center top; }
  .subscribe__title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px; }
  .subscribe__form {
    position: relative; }
  .subscribe__input {
    width: 100%;
    padding: 20px 15px;
    border: 1px solid #262626;
    margin-top: 27px; }
  .subscribe__label {
    font-size: 15px;
    font-weight: 300;
    position: absolute;
    top: 48px;
    left: 14px; }
  .subscribe__button {
    background: #96b92c;
    width: 170px;
    margin-top: 26px; }
  .subscribe__button:hover {
    background: #759022; }
  @media screen and (max-width: 575px) {
    .subscribe {
      padding-top: 80px;
      padding-bottom: 80px;
      background-image: none; }
    .subscribe__text {
      font-size: 14px; } }

.blog {
  background: #b07cf7;
  padding-top: 81px;
  padding-bottom: 120px;
  color: #fff;
  text-align: center; }
  .blog__title {
    margin-bottom: 22px; }
  .blog__text {
    margin-bottom: 42px; }
  .blog__item {
    position: relative; }
  .blog__contain {
    display: block; }
  .blog__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 35px 0 20px 20px; }
  .blog__description {
    text-align: left; }
  .blog__subtitle {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px; }
  .blog__time {
    font-size: 13px;
    font-weight: 300; }
  .blog__button {
    margin: 50px auto 0;
    background: #f72b3b; }
  .blog__button:hover {
    background: #e6091a; }
  @media screen and (max-width: 1199px) {
    .blog__item {
      margin-bottom: 30px; }
    .blog__subtitle {
      font-size: 16px; } }
  @media screen and (max-width: 575px) {
    .blog {
      padding-bottom: 80px; }
    .blog__title {
      font-size: 75px; }
    .blog__text {
      font-size: 14px; }
    .blog__button {
      margin-top: 25px; }
    .blog__item img {
      width: 100%; } }

.date {
  font-weight: bold;
  border-radius: 10%;
  background-color: rgba(38, 38, 38, 0.5);
  width: 60px;
  height: 60px;
  text-align: center;
  margin-left: 10px;
  line-height: 1; }
  .date__twenty {
    font-size: 32px; }
  .date__nov {
    text-transform: uppercase;
    font-size: 21px; }
  .date:hover {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s; }

.contact {
  padding-top: 80px;
  padding-bottom: 120px;
  text-align: center;
  background: url(/img/nature.png) no-repeat;
  background-size: cover; }
  .contact__title {
    margin-bottom: 20px; }
  .contact__text {
    margin-bottom: 44px; }
  .contact__form {
    position: relative; }
  .contact__input {
    width: 100%;
    padding: 16px 20px;
    background: rgba(105, 211, 214, 0.5);
    display: block;
    outline: none;
    border: none;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 700;
    color: #fff; }
    .contact__input:focus {
      background: #00c4c4;
      border-left: 5px solid #355b82; }
  .contact__label {
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    position: absolute;
    top: 17px;
    left: 20px; }
  .contact__textarea {
    width: 100%;
    background: rgba(105, 211, 214, 0.5);
    outline: none;
    border: none;
    margin-bottom: 15px;
    height: 250px;
    padding: 16px 20px; }
  .contact__textarea:focus {
    background: #00c4c4;
    border-left: 5px solid #355b82; }
  .contact__button {
    background: rgba(105, 211, 214, 0.5);
    width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none; }
  .contact__wrap {
    text-align: left;
    margin-bottom: 15px;
    line-height: 1.471;
    margin-top: -7px; }
  .contact__subtitle {
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 3px; }
  .contact__data {
    font-size: 20px;
    font-weight: 300; }
  @media screen and (max-width: 575px) {
    .contact {
      padding-bottom: 80px; }
    .contact__title {
      font-size: 50px; } }

.footer {
  padding-top: 29px;
  padding-bottom: 30px;
  background: #262626;
  color: #b9b9b9;
  font-size: 16px;
  font-weight: 300; }
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .footer__text {
    font-size: 15px; }
  .footer__special {
    color: #ff2b58; }
  .footer__logo {
    -webkit-box-shadow: none;
    box-shadow: none; }
  @media screen and (max-width: 767px) {
    .footer__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center; }
    .footer__logo {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; }
    .footer__text {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
      margin: 5px 0; }
    .footer__copyright {
      -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
      order: 3; } }
